<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Converted Results</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css">
</head>

<body>
    <header>
        <h1><center>Converted Results</center></h1>
        <p>
            The list below contains the draft risks based on program information in the uploaded txt.
        </p>
    </header>
    <main>
        
        <br>
		<p>
		{{ reqFromProp|safe}}
		</p>
		<p><center>  </center></p>
    </main>
    <footer>
        <!-- Footer here -->
    </footer>
</body>